
<div mat-dialog-title style="margin: -24px -24px 20px;">
  <mat-toolbar id="confirmChangesTitle" color="primary">
    Remove Changes
  </mat-toolbar>
</div>

<div mat-dialog-title>
  {{infoText}}
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <ng-container matColumnDef="sourceSystemID">
    <th mat-header-cell *matHeaderCellDef>Source System ID </th>
    <td mat-cell *matCellDef="let accountMatch"> {{accountMatch.SourceSystemID}} </td>
  </ng-container>

  <ng-container matColumnDef="sourceSystem">
    <th mat-header-cell *matHeaderCellDef>Source System</th>
    <td mat-cell *matCellDef="let accountMatch"> {{accountMatch.SourceSystem}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Account Name </th>
    <td mat-cell *matCellDef="let accountMatch"> {{accountMatch.AccountName}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let accountMatch"> {{accountMatch.State}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let accountMatch"> {{accountMatch.City}} </td>
  </ng-container>

  <ng-container matColumnDef="addr1">
    <th mat-header-cell *matHeaderCellDef> Address Line 1 </th>
    <td mat-cell *matCellDef="let accountMatch"> {{accountMatch.AddressLine1}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dataSourceColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: dataSourceColumns;"></tr>
</table>



<div mat-dialog-actions>
  <div style="margin-left: auto">
    <button id="CloseModal" mat-raised-button mat-dialog-close color="primary" (click)="onCancel()">Cancel</button>
    <button id="SaveChanges" mat-raised-button color="primary" (click)="save()">
      Save
    </button>
  </div>
</div>
